body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #004d40;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 10px;
}

.nav {
    background-color: black;
    text-align: center;
    padding: 10px;
    display: none;
}

.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.nav.show {
    display: block;
}

.container {
    padding: 20px;
}

.courses {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-btn {
    background: hsl(170, 24%, 90%);
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

footer {
    background-color: #e2f7f3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}