@media only screen and (min-width: 600px) and (max-width: 959px) {
    .header-wrapper {
        padding: 0.8rem;
        flex-wrap: nowrap;
    }
    
    .logo img {
        width: 100px;
    }
    
    .title h1 {
        font-size: 1.5rem;
    }
    
    #hamburger {
        display: none;
    }
    
    nav ul#primary-nav {
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        flex: 1 1 auto;
    }
    
    main {
        padding: 1.5rem;
    }
    
    #members.grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .home-main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "hero hero"
            "events weather"
            "spotlight spotlight";
    }
    
    .hero {
        grid-area: hero;
    }
    
    .event-section {
        grid-area: events;
    }
    
    .weather-card {
        grid-area: weather;
    }
    
    .company-spotlight {
        grid-area: spotlight;
    }
    
    .footer-wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: left;
    }
    
    .footer-logo, .footer-info {
        max-width: 45%;
    }
    
    .call-to-action {
        max-width: 60%;
    }
}